body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0;
    margin: 0;
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.calculatorHistory {
    height: 100vh;
    overflow: auto;
    padding: 0 30px;
    text-align: center;
}